---
apiVersion: serving.kserve.io/v1alpha1
kind: ServingRuntime
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "3"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    enable-auth: "false"
    enable-route: "false"
    maxLoadingConcurrency: "2"
    opendatahub.io/template-display-name: Nvidia Triton Model Server
    opendatahub.io/template-name: triton
    openshift.io/display-name: Triton
  labels:
    name: triton-gpt2
    opendatahub.io/dashboard: "true"
  name: triton-gpt2
spec:
  builtInAdapter:
    memBufferBytes: 134217728
    modelLoadingTimeoutMillis: 90000
    runtimeManagementPort: 8001
    serverType: triton
  containers:
  - command:
    - /bin/sh
    - -c
    - |
      #!/bin/sh
      mkdir -p /models/_triton_models

      chmod 777 /models/_triton_models
      exec tritonserver \
        --model-repository=/models/_triton_models \
        --model-control-mode=explicit \
        --strict-model-config=false \
        --strict-readiness=false \
        --allow-http=true \
        --allow-sagemaker=false
    image: nvcr.io/nvidia/tritonserver:23.05-py3
    livenessProbe:
      exec:
        command:
        - /bin/sh
        - -c
        - |
          curl \
            --fail \
            --silent \
            --show-error \
            --max-time "8" \
            http://localhost:8000/v2/health/live
      initialDelaySeconds: 5
      periodSeconds: 30
      timeoutSeconds: 10
    name: triton
    resources:
      limits:
        cpu: "2"
        memory: 8Gi
      requests:
        cpu: "1"
        memory: 4Gi
    volumeMounts:
    - mountPath: /dev/shm
      name: shm
  grpcDataEndpoint: port:8001
  grpcEndpoint: port:8085
  multiModel: true
  protocolVersions:
  - grpc-v2
  replicas: 1
  supportedModelFormats:
  - autoSelect: true
    name: keras
    version: "2"
  - autoSelect: true
    name: onnx
    version: "1"
  - autoSelect: true
    name: pytorch
    version: "1"
  - autoSelect: true
    name: tensorflow
    version: "1"
  - autoSelect: true
    name: tensorflow
    version: "2"
  - autoSelect: true
    name: tensorrt
    version: "7"
  volumes:
  - emptyDir:
      medium: Memory
      sizeLimit: 2Gi
    name: shm
