apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  owner: workshop

namespace: user0

resources:
- data-connection-secret.yaml
- job-setup-user.yaml
- notebook.yaml
- pvc.yaml
# - quota.yaml
- user-ns-rb-admin.yaml
# - user-ns-rb-view.yaml
- user-ns.yaml

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/5/value
        value: user0
    target:
      kind: Job
      name: data-connection-setup
