apiVersion: apps/v1
kind: Deployment
metadata:
  name: notebook
spec:
  template:
    spec:
      containers:
        - name: notebook
          image: nvcr.io/nvidia/nemo:dev
          env:
            - name: HOME
              value: /workspace
          command:
            - /bin/sh
            - -c
            - |
              #!/bin/sh
              jupyter lab \
                --ServerApp.ip=0.0.0.0:8888 \
                --ServerApp.allow_origin="*" \
                --ServerApp.open_browser=False \
                --ServerApp.token=''
          volumeMounts:
            - name: home
              mountPath: /workspace
              subPath: data
