# custom excludes
data/
scratch/
logs/
files.txt
bootstrap/sealed-secrets-secret.yaml
components/operators/**/charts/
dictionary.dic
*.log

# swap files
*~
.*~
*.swp
.*.swp
*.swo
tmp

# cache
.cache

# bfg - because we never commit large data or passwords to git
..bfg-report/

# Environments
.env
.venv
env/
venv/
