extends: default

rules:
  document-start: disable
  line-length: disable
  comments-indentation: disable
  new-line-at-end-of-file: enable
  indentation:
    indent-sequences: whatever
    ignore: kludgeops/
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  truthy:
    ignore: .github/workflows/
  trailing-spaces:
    ignore: |
    #   components/operators/openshift-gitops-operator/instance/overlays/default/patch-resource-customizations.yaml
  empty-lines:
    ignore: |
      components/operators/ack-controllers/base/adoptedresources-crd.yaml

ignore:
  - "scratch/*"
  - "components/containers/web-terminal/src/*"
  - "components/operators/gpu-operator-certified/operator/components/console-plugin-helm/*"
  - "components/charts/*/templates/*"
