extends: default

rules:
  document-start: disable
  line-length: disable
  comments-indentation: disable
  new-line-at-end-of-file: disable
  indentation:
    indent-sequences: whatever
    ignore: kludgeops/
  braces:
    ignore: grafana-operator/base/instance/grafana.yaml
  truthy:
    ignore: .github/workflows/
  trailing-spaces:
    ignore: |
      components/operators/openshift-gitops/instance/overlays/lab/patch-resource-customizations.yaml
      components/operators/openshift-gitops/instance/overlays/default/patch-resource-customizations.yaml
