apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://raw.githubusercontent.com/rook/rook/refs/heads/release-1.16/deploy/examples/crds.yaml
  - https://raw.githubusercontent.com/rook/rook/refs/heads/release-1.16/deploy/examples/common.yaml

patches:
- path: patch-role.yaml
- patch: |-
    - op: add
      path: /metadata/annotations/openshift.io~1display-name
      value: Rook - Ceph
  target:
    kind: Namespace
    name: rook-ceph
