apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base
  - ../base/rhoai

  - ../../components/operators/authorino-operator/operator/overlays/tech-preview-v1
  - ../../components/operators/openshift-pipelines-operator-rh/operator/overlays/latest
  - ../../components/operators/serverless-operator/operator/overlays/stable
  - ../../components/operators/servicemeshoperator/operator/overlays/stable

  - ../../components/operators/rhods-operator/instance/overlays/all

  # - ../../components/app-configs/rhoai-config
  # TODO: reconcile issues with item above
  # - ../../components/operators/serverless-operator/instance/knative-eventing/overlays/default
  # - ../../components/operators/serverless-operator/instance/knative-serving/overlays/default

  # - ../../components/app-configs/custom-notebook-images/overlays/rhoai
  # - ../../components/app-configs/minio/overlays/with-namespace
  # - ../../components/app-configs/rhoai-config
  # - ../../components/app-configs/rhoai-data-connector/overlays/group-project
  # - ../../components/app-configs/rhoai-data-connector/overlays/kserve-project
  # - ../../components/app-configs/rhoai-data-connector/overlays/modelmesh-project
  # - ../../components/app-configs/rhoai-modelmesh/overlays/modelmesh-project
  # - ../../components/app-configs/rhoai-model-runtimes
  # - ../../components/app-configs/rhoai-kserve-instances
  # - ../../components/app-configs/rhoai-notebook/overlays/group-project
  # - ../../components/app-configs/rhoai-pipelines/overlays/group-project
  # - ../../components/app-configs/rhoai-projects
  # - ../../components/app-configs/rhoai-rbac
  # - ../../components/app-configs/rhoai-rbac-notebooks

patches:
  - target:
      kind: ConsoleNotification
      name: banner-demo
    patch: |-
      - op: replace
        path: /spec/text
        value: 'DEMO: Red Hat OpenShift AI (RHOAI)'
    # kludge: allow servicemesh to install before rhoai
  # - target:
  #     kind: Subscription
  #     name: rhods-operator
  #   patch: |-
  #     - op: replace
  #       path: /spec/installPlanApproval
  #       value: Manual
  # - target:
  #     group: user.openshift.io
  #     kind: Group
  #     name: workshop-users
  #   path: patch-workshop-users.yaml
