apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

commonAnnotations:
  source: https://github.com/redhat-na-ssa/demo-ai-catalog.git

labels:
- includeSelectors: false
  pairs:
    demo: catalog

resources:
  - ../../components/cluster-configs/console-config/overlays/default
  - banner-demo.yaml
  - link-github.yaml
