apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
- includeSelectors: false
  pairs:
    autoscale: config

namespace: openshift-machine-api

resources:
  - autoscaling.yaml
  - job.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: job-setup-machineset
    files:
      - job.sh
      # - ../../../../../../scripts/library/ocp.sh
      # kludge: refer to source
      - https://raw.githubusercontent.com/redhat-na-ssa/demo-ai-gitops-catalog/v0.09/scripts/library/ocp.sh
