apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ include "operator.name" . }}
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  channel: {{ .Values.channel | required "channel is required" }}
  installPlanApproval: {{ .Values.installPlanApproval }}
  name: {{ .Values.name | required "name is required" }}
  source: {{ .Values.source }}
  sourceNamespace: {{ .Values.sourceNamespace }}
  {{- with .Values.startingCSV }}
  startingCSV: {{ . }}
  {{- end }}
