---
kind: BuildConfig
apiVersion: build.openshift.io/v1
metadata:
  name: lightgbm
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  runPolicy: Serial
  triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChange:
        from:
          kind: ImageStreamTag
          name: s2i-generic-data-science-notebook:2023.1
  source:
    git:
      uri: https://github.com/redhat-na-ssa/demo-ai-gitops-catalog.git
    contextDir: components/cluster-configs/kustomized/custom-notebook-images/base/lightgbm
  strategy:
    dockerStrategy:
      from:
        kind: ImageStreamTag
        name: s2i-generic-data-science-notebook:2023.1
      dockerfilePath: Containerfile
  output:
    to:
      kind: ImageStreamTag
      name: lightgbm:3.3.5