---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: job-init-htpasswd
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: job-init-htpasswd
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - update
      - patch
  - apiGroups:
      - bitnami.com
    resources:
      - sealedsecrets
    verbs:
      - get
      - list
      - delete
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: job-init-htpasswd
subjects:
  - kind: ServiceAccount
    name: job-init-htpasswd
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: job-init-htpasswd
---
apiVersion: batch/v1
kind: Job
metadata:
  name: job-init-htpasswd
  generateName: job-init-htpasswd-
  annotations:
    argocd.argoproj.io/sync-wave: "10"
spec:
  template:
    spec:
      containers:
        - name: minion
          image: registry.redhat.io/openshift4/ose-cli
          env:
            - name: OBJECT
              value: secret/htpasswd-secret
            - name: NS
              value: openshift-config
          command:
            - /bin/bash
            - -c
            - /scripts/job.sh
          volumeMounts:
            - name: scripts
              mountPath: /scripts
      volumes:
        - name: scripts
          configMap:
            name: job-init-htpasswd
            defaultMode: 0755
      restartPolicy: Never
      serviceAccount: job-init-htpasswd
      serviceAccountName: job-init-htpasswd
  backoffLimit: 4
