apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
# - ../../../../components/app-configs/ubi-images/overlays/cluster

- ../../../../components/cluster-configs/console-config/overlays/default
- ../../../../components/cluster-configs/console-samples/overlays/default

# - ../../../../components/cluster-configs/etcd-backup/overlays/default
# - ../../../../components/cluster-configs/namespace-cleanup/overlays/sandbox

- ../../../../components/cluster-configs/login/overlays/htpasswd
- ../../../../components/cluster-configs/namespaces/overlays/default
- ../../../../components/cluster-configs/rbac/overlays/no-self-provisioner

- ../../../../components/operators/web-terminal/operator/overlays/fast
- ../../../../components/operators/web-terminal/instance/overlays/enhanced
