apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../components/configs/cluster/namespaces/overlays/default
- ../../components/configs/cluster/console/overlays/default
- ../../components/configs/cluster/rbac/overlays/default
- ../../components/configs/cluster/web-terminal/overlays/default
