apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
  - target:
      kind: ConsoleNotification
      name: 00-banner-top
    patch: |-
      - op: replace
        path: /spec/text
        value: 'Welcome to the Red Hat Open Data Science (RHODS) Demo Environment'
