apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ../../../../components/argocd/apps/overlays/default

patches:
  - target:
      group: argoproj.io
      kind: ApplicationSet
    patch: |-
      - op: replace
        path: /spec/template/spec/source/repoURL
        value: 'https://github.com/redhat-na-ssa/demo-ai-gitops-catalog.git'
      - op: replace
        path: /spec/template/spec/source/targetRevision
        value: updates
  - target:
      group: argoproj.io
      kind: Application
    patch: |-
      - op: replace
        path: /spec/source/repoURL
        value: 'https://github.com/redhat-na-ssa/demo-ai-gitops-catalog.git'
      - op: replace
        path: /spec/source/targetRevision
        value: updates
  # Uncomment patches to disable automatic sync
  # - target:
  #     group: argoproj.io
  #     kind: Application
  #   patch: |-
  #     - op: remove
  #       path: /spec/syncPolicy
  # - target:
  #     group: argoproj.io
  #     kind: ApplicationSet
  #   patch: |-
  #     - op: remove
  #       path: /spec/template/spec/syncPolicy
