# NOTE: install to /etc/systemd/system/
#
# systemctl daemon-reload
# systemctl enable reverse-tunnel --now
[Unit]
Description=SSH Tunnel
After=network.target

[Service]
LimitNOFILE=1048576
Restart=always
RestartSec=20
WorkingDirectory=/etc/reverse_tunnel/
EnvironmentFile=/etc/reverse_tunnel/env
User=reverse-tunnel
ExecStart=/etc/reverse_tunnel/reverse_tunnel.sh

[Install]
WantedBy=multi-user.target
