# NOTE: install to /etc/systemd/system/
#
# systemctl daemon-reload
# systemctl enable reverse-tunnel --now
[Unit]
Description=SSH Tunnel
After=network.target

[Service]
LimitNOFILE=1048576
Restart=always
RestartSec=20
WorkingDirectory=/usr/local/bin
EnvironmentFile=/usr/local/bin/reverse_tunnel.env
User=redhat
ExecStart=/usr/local/bin/reverse_tunnel.sh

[Install]
WantedBy=multi-user.target
