---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: job-create-minio-root
  annotations:
    argocd.argoproj.io/sync-wave: "1"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: job-create-minio-root
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - get
      - list
      - update
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: job-create-minio-root
  annotations:
    argocd.argoproj.io/sync-wave: "1"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: job-create-minio-root
subjects:
- kind: ServiceAccount
  name: job-create-minio-root
---
apiVersion: batch/v1
kind: Job
metadata:
  name: job-create-minio-root
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  template:
    spec:
      containers:
        - name: minion
          image: registry.redhat.io/openshift4/ose-cli
          env:
          - name: SECRET_NAME
            value: minio-root-user
          command:
            - /bin/bash
            - -c
            - /scripts/job.sh
          volumeMounts:
            - name: scripts
              mountPath: /scripts
      volumes:
        - name: scripts
          configMap:
            name: job-create-minio-root
            defaultMode: 0755
      restartPolicy: Never
      serviceAccount: job-create-minio-root
      serviceAccountName: job-create-minio-root
  backoffLimit: 4
