apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/image-puller

patches:
  - target:
      kind: DaemonSet
      name: image-puller
    patch: |-
      - op: replace
        path: /metadata/name
        value: tf-puller
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: image-registry.openshift-image-registry.svc:5000/redhat-ods-applications/tensorflow:2024.1
