apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

components:
  - ../../components/additional-namespaces
  - ../../components/auth-with-authorino
  - ../../components/components-distributed-compute
  - ../../components/components-serving
  - ../../components/components-training
  - ../../components/config-access-everyone
  # - ../../components/config-access-group
  - ../../components/default-notebook-pvc-size
  - ../../components/disable-telemetry
  - ../../components/fix-dashboard-magic
  - ../../components/fix-kubeadmin-cluster-admin
  - ../../components/idle-notebook-culling
  - ../../components/model-server-pod-sizes
  - ../../components/notebook-pod-sizes-workshop
  - ../../components/nvidia-gpu-accelerator-profile
  - ../../components/runtime-template-triton
