apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

components:
  - ../../components/additional-namespaces
  - ../../components/auth-with-authorino
  - ../../components/components-distributed-compute
  - ../../components/components-feast
  - ../../components/components-llama-stack
  - ../../components/components-serving
  - ../../components/components-training
  - ../../components/components-trustyai
  - ../../components/config-access-everyone
  # - ../../components/config-access-workshop
  - ../../components/config-hw-profile
  - ../../components/default-notebook-pvc-size
  - ../../components/disable-telemetry
  - ../../components/fix-dashboard-magic
  - ../../components/fix-kubeadmin-cluster-admin
  - ../../components/fix-operator-scale
  # - ../../components/hw-profile-notebook
  # - ../../components/hw-profile-nvidia-gpu
  # - ../../components/hw-profile-serving
  - ../../components/idle-notebook-culling
  # - ../../components/model-server-pod-sizes
  # - ../../components/notebook-pod-sizes
  # - ../../components/nvidia-gpu-accelerator-profile
  - ../../components/runtime-template-triton
  # - ../../components/wait-for-servicemesh
