apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

components:
  - ../../components/auth-with-authorino
  - ../../components/components-distributed-compute
  - ../../components/components-serving
  - ../../components/components-training
  - ../../components/default-notebook-pvc-size
  - ../../components/fix-kubeadmin-cluster-admin
  - ../../components/idle-notebook-culling
  - ../../components/model-server-pod-sizes
  - ../../components/notebook-pod-sizes
  - ../../components/nvidia-gpu-accelerator-profile
  - ../../components/rhoai-dashboard-access
  - ../../components/runtime-template-triton
