apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  opendatahub.io/notebook-image-creator: ai-catalog

labels:
- includeSelectors: false
  pairs:
    component: custom-notebook-images
    # note: the following label allows the notebook to show up in the dashboard
    # note: byon = bring your own notebook?
    app.kubernetes.io/created-by: byon

namespace: custom-notebooks

resources:
  - ./code-server
  - ./lightgbm
  - ./opencv
  - ./rstudio
  - custom-notebooks-rb.yaml
  - namespace.yaml
  - namespace-rb.yaml
