apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: openshift-storage

resources:
  - console-plugin-job.yaml
  # - console-plugin.yaml
  - namespace.yaml
  - operator-group.yaml
  - subscription.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: job-odf-console-plugin
    files:
      - console-plugin-job.sh
