apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: openshift-operators

resources:
  - console-plugin-job.yaml
  - console-plugin.yaml
  - subscription.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: job-gpu-console-plugin
    files:
      - console-plugin-job.sh
