apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../components/kustomized/rhoai-config
  - ../../../components/operators/authorino-operator/operator/overlays/managed-services
  - ../../../components/operators/openshift-pipelines-operator-rh/operator/overlays/latest
  - ../../../components/operators/rhods-operator/operator/overlays/fast
  - ../../../components/operators/rhods-operator/instance/overlays/2.9.1
  - ../../../components/operators/serverless-operator/operator/overlays/stable
  - ../../../components/operators/servicemeshoperator/operator/overlays/stable

  # service mesh optional
  # - ../../../../components/operators/kiali-ossm/operator/overlays/stable

  # service mesh deprecated - https://docs.openshift.com/container-platform/4.15/service_mesh/v2x/installing-ossm.html#installing-ossm
  # - ../../../../components/operators/jaeger-product/operator/overlays/stable
  # - ../../../../components/operators/elasticsearch-operator/operator/overlays/stable
