---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jupyter
  labels:
    app: jupyter
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jupyter
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: jupyter
    spec:
      containers:
      - name: jupyter
        # args:
        # - jupyter server /data --console-address :9090
        # command:
        # - /bin/bash
        # - -c
        image: quay.io/opendatahub-contrib/workbench-images:rstudio-c9s-py39_2023b_latest
        ports:
        - containerPort: 8787
          protocol: TCP
          name: notebook
        - containerPort: 8000
          protocol: TCP
          name: demo
        resources:
          requests:
            cpu: 200m
            memory: 1Gi
          limits:
            cpu: '2'
            memory: 2Gi
        volumeMounts:
          volumeMounts:
            - name: shm
              mountPath: /dev/shm
            - name: home
              mountPath: /opt/app-root/src
              subPath: data
      volumes:
        - name: shm
          emptyDir:
            medium: Memory
            sizeLimit: 512Mi
        - name: home
          persistentVolumeClaim:
            claimName: jupyter
