name: Spelling
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"
  workflow_dispatch:

concurrency:
  group: "spelling"
  cancel-in-progress: true

jobs:
  lint-spelling:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v5
      - name: Spellcheck
        uses: rojopolis/spellcheck-github-actions@0.54.0
